 Adım 1: Veri Setinin Hazırlanması

 Adım 2: User Movie Df'inin Oluşturulması

 Adım 3: Item-Based Film Önerilerinin Yapılması

In [ ]:
import pandas as pd
pd.set_option('display.max_columns', 500)
movie = pd.read_csv('/content/movie.csv')
rating = pd.read_csv('/content/rating.csv')
df = movie.merge(rating, how="left", on="movieId")
df.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.0,4.0,1999-12-11 13:36:47
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,6.0,5.0,1997-03-13 17:50:52
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8.0,4.0,1996-06-05 13:37:51
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10.0,4.0,1999-11-25 02:44:47
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11.0,4.5,2009-01-02 01:13:41

In [ ]:
df.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.0,4.0,1999-12-11 13:36:47
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,6.0,5.0,1997-03-13 17:50:52
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8.0,4.0,1996-06-05 13:37:51
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10.0,4.0,1999-11-25 02:44:47
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11.0,4.5,2009-01-02 01:13:41

In [ ]:
df.shape

(2562703, 6)

In [ ]:
df["title"].nunique()

27262

In [ ]:
df["title"].value_counts().head()

Pulp Fiction (1994)                 8550
Forrest Gump (1994)                 8411
Silence of the Lambs, The (1991)    7954
Shawshank Redemption, The (1994)    7946
Jurassic Park (1993)                7556
Name: title, dtype: int64

In [ ]:
comment_counts = pd.DataFrame(df["title"].value_counts())

In [ ]:
rare_movies = comment_counts[comment_counts["title"] <= 1000].index

In [ ]:
common_movies = df[~df["title"].isin(rare_movies)]

In [ ]:
common_movies.shape

(1343756, 6)

In [ ]:
common_movies["title"].nunique()

637

In [ ]:
df["title"].nunique()

27262

In [ ]:
user_movie_df = common_movies.pivot_table(index=["userId"], columns=["title"], values="rating")

In [ ]:
user_movie_df.shape

(17256, 637)

In [ ]:
user_movie_df.columns

Index(['10 Things I Hate About You (1999)', '101 Dalmatians (1996)',
       '12 Angry Men (1957)', '2001: A Space Odyssey (1968)',
       '28 Days Later (2002)', '300 (2007)', '40-Year-Old Virgin, The (2005)',
       'A.I. Artificial Intelligence (2001)', 'About a Boy (2002)',
       'Abyss, The (1989)',
       ...
       'Willy Wonka & the Chocolate Factory (1971)', 'Witness (1985)',
       'Wizard of Oz, The (1939)', 'World Is Not Enough, The (1999)',
       'X-Files: Fight the Future, The (1998)', 'X-Men (2000)',
       'X2: X-Men United (2003)', 'You've Got Mail (1998)',
       'Young Frankenstein (1974)', 'Zoolander (2001)'],
      dtype='object', name='title', length=637)

**Item-Based Film Önerilerinin Yapılması**

In [ ]:
movie_name = "Matrix, The (1999)"
movie_name = "X-Men (2000)"

In [ ]:
movie_name = user_movie_df[[movie_name]]

In [ ]:
user_movie_df.corrwith(movie_name).sort_values(ascending=False).head(10)

title
X-Men (2000)                           1.0
10 Things I Hate About You (1999)      NaN
101 Dalmatians (1996)                  NaN
12 Angry Men (1957)                    NaN
2001: A Space Odyssey (1968)           NaN
28 Days Later (2002)                   NaN
300 (2007)                             NaN
40-Year-Old Virgin, The (2005)         NaN
A.I. Artificial Intelligence (2001)    NaN
About a Boy (2002)                     NaN
dtype: float64

In [ ]:
movie_name = pd.Series(user_movie_df.columns).sample(1).values[0]

In [ ]:
movie_name = user_movie_df[movie_name]

In [ ]:
user_movie_df.corrwith(movie_name).sort_values(ascending=False).head(10)

title
Like Water for Chocolate (Como agua para chocolate) (1992)    1.000000
Pan's Labyrinth (Laberinto del fauno, El) (2006)              0.410837
Cinema Paradiso (Nuovo cinema Paradiso) (1989)                0.407140
Mighty Aphrodite (1995)                                       0.405637
City of God (Cidade de Deus) (2002)                           0.398576
Chocolat (2000)                                               0.393596
Postman, The (Postino, Il) (1994)                             0.387714
French Connection, The (1971)                                 0.368573
Hotel Rwanda (2004)                                           0.356713
Harry Potter and the Goblet of Fire (2005)                    0.352535
dtype: float64

In [ ]:
def check_film(keyword, user_movie_df):
    return [col for col in user_movie_df.columns if keyword in col]

In [ ]:
check_film("Insomnia", user_movie_df)

[]